<%- include('../../../../partials/header'); -%>

    <div style="height: 80vh" class="px-6 mx-auto lg:px-16 h-auto">
        <div class="mt-32 mb-16 text-center mx-auto px-4">
            <h1 class="font-semibold text-5xl text-gray-700">Hello <span class="text-green-400 font-bold"><%= data.user_data.display_name %></span></h1>
            <p class="mt-2 text-2xl text-gray-600">Ready to sing until the end of the night?</p>
            <p class="text-md text-gray-600">Once the music is full loaded, click on the image</p>
        </div>

        <% if(locals.data.lyrics) { %>
            <% if(locals.data.current_music && data.current_music.status == true) { %>
                <div id="loader" class="loader"><div class="loader-container"><div class="loader-circle"></div></div></div>

                <div id="content" class="mb-4">
                    <div class="grid hidden">
                        <div class="grid__item w-full lg:w-1/4 md:w-2/4 sm:w-1/2 px-4 mx-auto">
                            <div class="album relative cursor-pointer">
                                <div class="album__bg absolute w-full bg-white"></div>
                                <img class="album__img w-full mb-2" style="box-shadow: -20px 20px #edf2f7;" src="<%= data.current_music.response.item.album.images[0].url %>" alt="Music banner"/>
                                <h2 class="album__title text-gray-800 text-3xl font-bold"><%= data.current_music.response.item.name %></h2>
                                <h3 class="album__subtitle text-gray-600 text-md"><%= data.current_music.response.item.album.artists[0].name %></h3>
                                <div class="album__description hidden">
                                    <a href="<%= data.current_music.response.item.external_urls.spotify %>" target="blank" class="text-green-400 underline block">Link to Spotify</a>
                                    <a href="https://twitter.com/intent/tweet?url=&text=Ready%20to%20sing%20%C2%AB%20<%= data.current_music.response.item.name %>%20-%20<%= data.current_music.response.item.album.artists[0].name %>%20%C2%BB%20%3F%0ANow%20on%20sooneos.me%20%F0%9F%8E%89%F0%9F%8E%A4" target="blank" class="text-green-400 underline block">Share on twitter <i class="fa fa-twitter"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="rg_embed_link_<%= data.lyrics %>" class="rg_embed_link" data-song-id="<%= data.lyrics %>"></div> <script crossorigin src="//genius.com/songs/<%= data.lyrics %>/embed.js"></script>
                </div>
            <% }else{ %>
                <div class="text-center">
                    <h3 class="text-gray-500 text-md mb-2">You have no music in progress.</h3>
                    <a href="spotify:track:4uLU6hMCjMI75M1A2tKUQC" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                        <i class="fa fa-play-circle mr-2"></i>
                        <span>Open Spotify</span>
                    </a>
                </div>
            <% } %>
        <% }else{ %>
            <div class="text-center">
                <h3 class="text-gray-500 text-md mb-2">No data.lyrics has been found!</h3>
            </div>
        <% } %>
    </div>

<%- include('../../../../partials/footer'); -%>
